<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.szhuima.agent.infrastructure.mapper.AiClientMapper">

    <resultMap id="BaseResultMap" type="dev.szhuima.agent.infrastructure.po.AiClient">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="clientName" column="client_name" jdbcType="VARCHAR"/>
        <result property="clientType" column="client_type" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="modelId" column="model_id" jdbcType="BIGINT"/>
        <result property="systemPrompt" column="system_prompt" jdbcType="VARCHAR"/>
        <result property="memorySize" column="memory_size" jdbcType="INTEGER"/>
        <result property="returnFormat" column="return_format" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,client_name,`description`,system_prompt,return_format,memory_size,
        status,create_time,created_by,update_time
    </sql>


    <update id="updateByClientId" parameterType="dev.szhuima.agent.infrastructure.po.AiClient">
        UPDATE ai_client
        SET client_name = #{clientName},
            description = #{description},
            status      = #{status},
            update_time = #{updateTime}
        WHERE id = #{clientId}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE
        FROM ai_client
        WHERE id = #{id}
    </delete>

    <delete id="deleteByClientId" parameterType="java.lang.String">
        DELETE
        FROM ai_client
        WHERE id = #{clientId}
    </delete>

    <select id="queryById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT *
        FROM ai_client
        WHERE id = #{id}
    </select>

    <select id="queryByClientId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT *
        FROM ai_client
        WHERE id = #{clientId}
    </select>

    <select id="queryEnabledClients" resultMap="BaseResultMap">
        SELECT *
        FROM ai_client
        WHERE status = 1
        ORDER BY create_time DESC
    </select>

    <select id="queryByClientName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT *
        FROM ai_client
        WHERE client_name LIKE CONCAT('%', #{clientName}, '%')
        ORDER BY create_time DESC
    </select>

    <select id="queryAll" resultMap="BaseResultMap">
        SELECT *
        FROM ai_client
        ORDER BY create_time DESC
    </select>
</mapper>
