<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.szhuima.agent.infrastructure.mapper.WorkflowNodeConfigBatchMapper">

    <resultMap id="BaseResultMap" type="dev.szhuima.agent.infrastructure.po.WorkflowNodeConfigBatch">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="listKeyPath" column="list_key_path" jdbcType="VARCHAR"/>
            <result property="itemAlias" column="item_alias" jdbcType="VARCHAR"/>
            <result property="outputKey" column="output_key" jdbcType="VARCHAR"/>
            <result property="parallelism" column="parallelism" jdbcType="INTEGER"/>
            <result property="errorStrategy" column="error_strategy" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,list_key_path,item_alias,
        output_key,parallelism,error_strategy,
        create_time,update_time
    </sql>
</mapper>
