<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.szhuima.agent.infrastructure.mapper.TbAgentMcpConfigMapper">

    <resultMap id="BaseResultMap" type="dev.szhuima.agent.infrastructure.entity.TbAgentMcpConfig">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="agentId" column="agent_id" jdbcType="BIGINT"/>
            <result property="mcpId" column="mcp_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,agent_id,mcp_id
    </sql>
</mapper>
