<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.szhuima.agent.infrastructure.mapper.WorkflowNodeMapper">

    <resultMap id="BaseResultMap" type="dev.szhuima.agent.infrastructure.po.WorkflowNode">
            <id property="nodeId" column="node_id" jdbcType="BIGINT"/>
            <result property="workflowId" column="workflow_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="triggerType" column="trigger_type" jdbcType="VARCHAR"/>
            <result property="startNode" column="start_node" jdbcType="TINYINT"/>
            <result property="conditionExpr" column="condition_expr" jdbcType="VARCHAR"/>
            <result property="configId" column="config_id" jdbcType="BIGINT"/>
            <result property="configJson" column="config_json" jdbcType="VARCHAR"/>
            <result property="positionX" column="position_x" jdbcType="INTEGER"/>
            <result property="positionY" column="position_y" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        node_id,workflow_id,name,
        type,trigger_type,start_node,
        condition_expr,config_id,config_json,
        position_x,position_y,created_at,
        updated_at
    </sql>
</mapper>
