<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.szhuima.agent.infrastructure.mapper.WorkflowNodeConfigLoopMapper">

    <resultMap id="BaseResultMap" type="dev.szhuima.agent.infrastructure.po.WorkflowNodeConfigLoop">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="nodeId" column="node_id" jdbcType="BIGINT"/>
            <result property="counterKey" column="counter_key" jdbcType="VARCHAR"/>
            <result property="startValue" column="start_value" jdbcType="BIGINT"/>
            <result property="step" column="step" jdbcType="BIGINT"/>
            <result property="maxValue" column="max_value" jdbcType="BIGINT"/>
            <result property="conditionExpr" column="condition_expr" jdbcType="VARCHAR"/>
            <result property="loopBodyNodeIds" column="loop_body_node_ids" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,node_id,counter_key,
        start_value,step,max_value,
        condition_expr,loop_body_node_ids,created_at,
        updated_at
    </sql>
</mapper>
